@using WebShopFresh.Shared.Models.ViewModel.ProductViewModels
@model IEnumerable<ProductViewModel>

@{
    var currentSort = ViewData["CurrentSort"] as string;
    var nameSortParam = ViewData["NameSortParam"] as string;
    var priceSortParam = ViewData["PriceSortParam"] as string;
    var currentFilter = ViewData["CurrentFilter"] as string;
}

<h1>Products</h1>

<div class="container mt-4">
    <!-- Search Form -->
    <form asp-controller="Home" asp-action="Products" method="get" class="d-flex align-items-center mb-3">
        <div class="input-group">
            <input type="text" name="searchString" autocomplete="off" class="form-control" placeholder="Search" value="@currentFilter" />
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>

    <div class="btn-group mb-4" role="group" aria-label="Category buttons">
        @foreach (var category in ViewBag.Categories)
        {
            <a asp-controller="Home" asp-action="Products" asp-route-categoryId="@category.Id" class="btn btn-primary">
                @category.Name
            </a>
        }
    </div>

    <!-- Sorting Dropdown -->
    <div class="row mb-4">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <li><a class="dropdown-item @(currentSort == "" ? "active" : "")" asp-action="Products" asp-route-sortOrder="" asp-route-searchString="@currentFilter">Name Ascending</a></li>
                    <li><a class="dropdown-item @(currentSort == "name_desc" ? "active" : "")" asp-action="Products" asp-route-sortOrder="name_desc" asp-route-searchString="@currentFilter">Name Descending</a></li>
                    <li><a class="dropdown-item @(currentSort == "price_asc" ? "active" : "")" asp-action="Products" asp-route-sortOrder="price_asc" asp-route-searchString="@currentFilter">Price Ascending</a></li>
                    <li><a class="dropdown-item @(currentSort == "price_desc" ? "active" : "")" asp-action="Products" asp-route-sortOrder="price_desc" asp-route-searchString="@currentFilter">Price Descending</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-3">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-img-container">
                         <img src="@item.ImageUrl" class="card-img-top img-fluid" alt="@item.Name"> 
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            <span class="badge bg-dark">@item.CategoryId</span>
                            <span class="badge bg-primary">@item.Price.ToString("C", new System.Globalization.CultureInfo("de-eu"))</span>
                        </p>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <form id="@item.Id" asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="ProductId" value="@item.Id" />
                            @* <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> *@
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </form>
                        <a asp-action="Product" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-info-circle"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
