@using WebShopFresh.Shared.Models.ViewModel.ProductViewModels
@model ProductViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid rounded" alt="@Model.Name" />
        </div>
        <div class="col-md-6">
            <h4>@Model.Name</h4>
            <p class="text-muted">@Model.Description</p>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Category:</dt>
                <dd class="col-sm-9">@Model.CategoryId</dd>
                <dt class="col-sm-3">Price:</dt>
                <dd class="col-sm-9">@Model.Price.ToString("C", new System.Globalization.CultureInfo("de-eu"))</dd>
                <dt class="col-sm-3">Quantity:</dt>
                <dd class="col-sm-9">@Model.Quantity</dd>
            </dl>
        </div>
    </div>
</div>
