@using WebShopFresh.Services.Interface
@inject IOrderService orderService
@model WebShopFresh.Shared.Models.ViewModel.OrderModels.OrderViewModel

@{
    ViewData["Title"] = "MyOrder";
    var productItems = await orderService.GetProductItems(Model.OrderItems.Select(x => x.ProductId).ToList());
    int rowCounter = 1;
}

<h1>My Order</h1>

<h4>Order Details</h4>
<div class="row">
    <div class="col-5">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                Buyer Name
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Buyer.FirstName) @Html.DisplayFor(model => model.Buyer.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Total)
            </dd>
          
            <dt class="col-sm-4">
                Delivery Address
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Buyer.Address) @Html.DisplayFor(model => model.Buyer.LastName)
            </dd>
        </dl>
    </div>

    <div class="col-7">
        <h4>Ordered Items</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderItems.Count; i++)
                {
                    var productItem = productItems.FirstOrDefault(y => y.Id == Model.OrderItems[i].ProductId);
                    if (productItem != null)
                    {
                        <tr>
                            <td>@rowCounter</td>
                            <td>@productItem.Name</td>
                            <td>
                                <span>@Model.OrderItems[i].Quantity</span>
                            </td>
                            <td>
                                <input type="checkbox" name="OrderItems[@i].Remove" value="true" />
                            </td>
                        </tr>
                        rowCounter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
